body
{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h1 {
    margin: 0;
    padding-bottom: 6rem;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    font-family: 'Teko', sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
    animation: glow 2s ease-in-out infinite alternate;
    text-align: center;
  }

#under {
    margin: 3%;
    padding: 3%;
    background: border-box;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3%;
}

#grad {
    margin: 3%;
    padding: 3%;
    background: border-box;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3%;
}

@keyframes glow {
    from {
      text-shadow: 0 0 20px #2d9da9;
    }
    to {
      text-shadow: 0 0 30px #1100ff, 0 0 10px #f10707;
    }
  }

#footer {
    
    margin-top:100%;
    /* negative value of footer height */
}
#facDiv {
    margin: 3%;
    padding: 3%;
    background: border-box;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3%;
}

#masterRes {
    margin: 3%;
    padding: 3%;
    background: border-box;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3%;
}

#minorDiv {
    margin: 3%;
    padding: 3%;
    background: border-box;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3%;
}


iframe{
   width:1020px;
   height:1020px;
   overflow-x:hidden;
   overflow-y:hidden;
}
