body
{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 100% 100%;
    animation: gradient 1s ease infinite;
}

#footer {
    
    margin-top:100%;
    /* negative value of footer height */
}

iframe{
   width:1020px;
   height:1020px;
   overflow-x:hidden;
   overflow-y:hidden;
}
